.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
    
}

.svg-inline--fa {
    color: white;

}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}
/* Add spacing between timeline cards on mobile and tablet */
@media screen and (max-width: 1024px) {
  .vertical-timeline-element {
    margin-bottom: 30px !important;
  }

  /* Optional: add extra space inside card for better look */
  .vertical-timeline-element-content {
    padding: 20px !important;
  }
}
